h1, h2, h3 {
    color: green;
    font-weight: bold;
    text-align: center;
    
}

#btn-salvar, #btn-salvar-sessao, #btn-vender {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: black;
    border: none;
     border-radius: 5px; 
    cursor: pointer;
}

nav {
    text-align: center;
    margin-top: 20px;
}

#home, #filmes, #salas, #cadastro-sessoes, #vendas {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

a {
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    align-items: center;
    text-align: center;


}